body {
  background-color: #fff;
  overflow: hidden;
}

.grid {
  box-sizing: border-box;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0;
}

.tile {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}
